# Financial Fraud Dataset:
# *Data Cleaning*

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.api import abline_plot
from random import sample

In [11]:
#Read in raw finanical fraud dataset CSV
raw_df = pd.read_csv("/Users/sa14/Desktop/FinancialFraudData_EDA/FinFraudData.csv")

In [12]:
#Remove unneeded columns
Fraud_Numeric_Set = raw_df.drop(columns=['nameOrig', 'nameDest'])

#Store the new dataframe as a csv file
#Fraud_Numeric_Set.to_csv("Numeric_FinFraud.csv", index=False)

#Get first 5 rows of no_name_df
Fraud_Numeric_Set.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,0
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,0